@import "tailwindcss";

@theme {
  --color-luxury-bg: #09090b;
  --color-luxury-gold: #f59e0b;
  --color-luxury-accent: #d97706;
  
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-zinc-950 text-zinc-50 font-sans antialiased selection:bg-amber-500 selection:text-black;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif tracking-tight text-white;
  }
}